# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/build

# Node dependencies
node_modules/
frontend/node_modules/
backend/node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#Angular
.angular/cache
frontend/.angular/cache

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Tests & Coverage
/coverage
/.nyc_output
/libpeerconnection.log
testem.log

# Firebase
.firebase
*-debug.log
.runtimeconfig.json

# Ignore environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
frontend/environments/environment*.ts

# IDEs and Editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/*

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Temporary directories
.temp
.tmp
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
